.about-section {
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: 1.5rem auto;
}

.container h2 {
  width: 100%;
  text-align: center;
  background: #f3f3f3;
  margin: 0 auto;
  color: grey;
  letter-spacing: 5px;
  font-weight: 100;
}

.about-img {
  width: 45%;
  border-top: 1px solid rgb(192, 192, 192);
}

.text {
  width: 60%;
}

.bottom {
  margin-top: 1rem;
}

.btn {
  font-size: 1.2rem;
  letter-spacing: 6px;
  cursor: pointer;
  margin-top: 1rem;
  background: whitesmoke;
  border: 1px solid rgb(189, 187, 187);
  border-right: none;
  border-left: none;
  padding: 0.2rem;
  transition: all 1s ease;
  outline: lightgrey;
  width: 25vw;
}

.btn:hover {
  width: 10vw;
}

@media only screen and (max-width: 800px) {
  .about-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .text {
    width: 90%;
    margin-top: 3rem;
  }
  .about-img {
    width: 60%;
  }
  .bottom {
    position: absolute;
    top: 83%;
    right: 7%;
  }
}
